<h1> {{title}}</h1>

<div class="row">
<div class="col-md-4">
    <h2>My Activity</h2>
<ul class="heroes">
<li *ng-for="#hero of heroes" [ng-class]="getSelectedClass(hero)" (click)="onSelect(hero)">    
  <span class="badge">{{hero.id}}</span> {{hero.name}}
</li>

</ul>

</div>

<div class="col-md-8">
<div *ng-if="selectedHero">
<img src="assets/images/activity/{{selectedHero.id}}.jpg" alt="Smiley face" height="60" width="60">

<h2>{{selectedHero.name}}</h2>
<h3>{{selectedHero.title}}</h2>
<h4>{{selectedHero.details}}</h3>

<div>Contact: </div>
<div class="well" [hidden]="visible">

     <label>Yours phone: </label>

    <input #newphone></br>

    <label>Yours email: </label>

    <input #newemail></br>
    
    
 <button (click)=addHero(newphone,newemail)>Save</button> 
    
</div>

<div class="well" [hidden]="!visible">

<label>This information will be saved </label></br>
<div *ng-if="saveInfo.email">
email: {{saveInfo.email}}</br>
</div>
<div *ng-if="saveInfo.phone">
phone: {{saveInfo.phone}}
</div>

<button (click)=confirmSaving(newphone,newemail)>Confirm</button>
<button (click)=dismissSaving()>Dismiss</button>  

</div>





</div>

</div>

</div>


    </div>