<h1> {{title}}</h1>

<div class="alert alert-success" role="alert" [hidden]="!savedInfo" >
Yours info saved I will contact you as soon as possible.
</div>

<div class="row">
<div class="col-md-4">
    <h2>My Activity</h2>
<ul class="heroes">
<li *ng-for="#hero of heroes" [ng-class]="getSelectedClass(hero)" (click)="onSelect(hero)">    
  <span class="badge">{{hero.id}}</span> {{hero.name}}
</li>

</ul>

</div>

<div class="col-md-8">
<div *ng-if="selectedHero">
<img src="assets/images/activity/{{selectedHero.id}}.jpg" alt="Smiley face" height="60" width="60">

<h2>{{selectedHero.name}}</h2>
<h3>{{selectedHero.title}}</h2>
<h4>{{selectedHero.details}}</h3>


<div [hidden]="savedInfo">
<div>Contact: </div>
<div class="well" [hidden]="visible">

     <label>*Name: </label>
    <input #newname></br>		
		
     <label>Phone: </label>
    <input #newphone></br>

    <label>Email: </label>
    <input #newemail></br>
    
    
 <button (click)=addHero(newname,newphone,newemail)>Save</button> 
    
</div>

<div class="well" [hidden]="!visible">

<label>This information will be saved </label></br>

<div>
{{saveInfo.activity}}
<div>
<div *ng-if="saveInfo.name">
name:{{saveInfo.name}}
</div>
<div *ng-if="saveInfo.email">
email: {{saveInfo.email}}</br>
</div>
<div *ng-if="saveInfo.phone">
phone: {{saveInfo.phone}}
</div>

<button (click)=confirmSaving(newphone,newemail)>Confirm</button>
<button (click)=dismissSaving()>Dismiss</button>  

</div>


</div>


</div>

</div>

</div>


    </div>